<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CoreSettings" type="nEkis.Automation.Core.Environment.Configuration.CoreSection, nEkis.Automation.Core" />
    <section name="LogSettings" type="nEkis.Automation.Core.Environment.Configuration.LogSection, nEkis.Automation.Core" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <CoreSettings>
    <TestSettings TestSetting="Url" Value="http://google.com" />
    <TestSettings TestSetting="DefaultBrowser" Value="chrome" />
  </CoreSettings>

  <LogSettings>
    <DateSettings DateFormat="DateFormat" Format="yyyyMMdd" />
    <DateSettings DateFormat="DateTimeFormat" Format="yyyyMMdd-HHmmss" />
    <DateSettings DateFormat="ReadableDateFormat" Format="yyyy. MM. dd." />
    <DateSettings DateFormat="ReadableDateTimeFormat" Format="yyyy. MM. dd. - HH:mm:ss" />
  </LogSettings>
</configuration>